.v-application{
  font-family: "Montserrat"!important;
}
.v-navigation-drawer__border {
  width: 0px!important;
}
.background {
  width: 100%;
  height: 100%;
  background: url("../assets/img/bg.png") center center/cover;
}

.background-color-grey {
  background: #f5f4f4 !important;
}

.v-application{
  font-family: 'Montserrat' !important;
}
.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-grey {
  color: #666666;
}
.text-magenta {
  color: #B63097;
}
.text-blue {
  color: #4930B6;
}
.text-light-blue {
  color: #3054B6
}
.bg-light-grey {
  color: #000000 !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gradient {
  background: transparent linear-gradient(270deg, #982b8e 0%, #623cd3 100%) 0%
  0% no-repeat padding-box;
}
.w-30 {
  width: 30%;
}
.default-button {
  background: transparent linear-gradient(270deg, #982b8e 0%, #623cd3 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.radio-button-color {
  color: #643cd1;
}
.border {
  border: 1px solid gray;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.light-border{
  border: 1px solid gray;
}
.border-radius-box {
  border-radius: 25px !important;
}
.border-radius-button {
  border-radius: 8px !important;
}
.background-gradient {
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(270deg, #982b8e 0%, #623cd3 100%) 0%
    0% no-repeat padding-box;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
   bottom:0;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 40px!important;
  /* min-width: 50%!important; */
  padding: 0 16px;
}

